
html {
    height: 100%;
    width: 100%;
    background-color: #797a9e;
    background-image: url("images/topography.svg");
}
html,body {
    margin: 0;
    box-sizing: content-box;
    font-family: 'Miltonian Tattoo', cursive; 
}

.image-container {
    height: 400px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #797a9e; 
    border-radius: 50%;
}

.image-container > .picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.picture {
    background-image: url("images/silas-burger.jpg");
    width: 90%;
    height: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 45px 8px; 
    border-radius: 50%;
    animation: picture-switch 12s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 5s;
}

.faded {
    display: inline-block;
    color: #797a9e;
}

.faded:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-collapse: separate;
    box-shadow: inset 0 0 5px 22px;
    border-radius: 50%;
}

.flex-grid {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}

.box {
    width: 18em;
    height: 15em;
    margin: 30px 80px;
    z-index: 1;
}

.box-content {
    width: 100%;
    height: 100%;
    background-color: #9893DA;
    border-radius: 20%;
    display:flex;
    align-items:center;
}

.box-content ul > h3 {
    margin-top:0;
}

.box.face {
    display: none;
    height: 400px;
    width: 350px;
    background-color:#797a9e;
    border-radius: 50%;
}

.head-line {
    height: 50px;
    width: 100%;
    background: url(images/rip.svg) bottom center;
    background-size: 50%;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 2em;
    font-family: 'Frijole', cursive;
    margin-bottom: 30px;
}

.flex-grid ul {
    margin: 0;
}

#no-bullet {
    list-style-type: none;
}

.flex-grid li {
    font-family: 'Calligraffitti', cursive;
    font-size: larger;
    line-height: 35px;
}

@media screen and (min-width: 1344px) {
    .box {
        width: 20em;
        height: 18em;
    }
}

@media screen and (min-width: 1440px) {
    .box {
        margin: 40px 140px;
    }
    .flex-grid li {
        font-family: 'Calligraffitti', cursive;
        font-size: 28px;
    }
}

@media screen and (min-width: 1800px) {
    .box {
        margin: 40px 250px;
    }
}

@media screen and (max-width: 930px) {
    .head-line {
        font-size: 25px;
    }
}

@media screen and (max-width: 896px) {
    .box {
        width: 65%;
        height: 18em;
        margin: 40px 15%;
    }
    .head-line {
        font-size: 20px;
    }
    .image-container {
        display: none;
    }

    .box.face {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box.face .picture {
        border-collapse: separate;
        border-radius: 50%;
        color: #797a9e;;
    }
}

@media screen and (max-width: 585px) {
    .head-line {
        font-size: 15px;
    }
    .box {
        width: 80%;
        margin: 40px 10%;
    }
}

@media screen and (max-width: 540px) {
    .box li {
        font-size: larger;
    }
}

@media screen and (max-width: 440px) {
    .head-line {
        font-size: 13px;
    }
}

@media screen and (max-width: 376px) {
    .head-line {
        font-size: 10px;
    }
}

/* @keyframes picture-switch {
    0% { 
        background-image: url('images/silas-burger.jpg');
    }
    30% {
        background-image: url('images/silas-burger.png');
    }
    60% {
        opacity: 100%;
        background-image: url('images/rithm-113.jpg');
    }
    100% {
        opacity: 0%;
        background-image: url('images/silas-burger.png');
    }
} */

/* 
font-family: 'Calligraffitti', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Germania One', cursive;
font-family: 'Miltonian Tattoo', cursive; 
font-family: 'Rock 3D', cursive;
font-family: 'Shadows Into Light', cursive;
*/

/* 

bbbdf6
9893da
797a9e
72727e
625f63

*/